<!DOCTYPE html>
<html lang="en">
  	<head>
        <title>pyconsole</title>
        <!--bootstrap-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	</head>
	<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
      	<h1>PyConsole</h1>
      	<pre class="text-break"><code id="console"></code></pre>
        <form action="" method="POST">
          <input type="text" class="form-control" id="usertext" placeholder="msg"/>
        </form>
      </div>
      <div class="col-sm-4">
        <h3>Connected</h3>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>user</th>
              <th>id</th>
            </tr>
          </thead>
          <tbody id="connected">
            <tr>
              <td>titi</td>
              <td>12345</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        //socket.emit( 'my event', { data: 'User Connected' } )
      })
      socket.on( 'my_ping', function(rawdata) {
        socket.emit('my_pong', {"rawdata": rawdata})  
      })
      socket.on( 'data', function( data ) {
        console.log(data)
        if( typeof data.type !== 'undefined' ) {
          switch(data.type){
            case 'msg':
              document.getElementById("console").append('>>> '+data.msg+'\n')
            break;
            case 'connected':
              console.log(data)
              document.getElementById("connected").innerHTML = ''
              for (const [user, ids] of Object.entries(data.connected)) {
                //console.log(`${user}: ${id}`);
                idlist = '<ul class="list-group list-group-flush">'
                ids.forEach(function (id) {
                  idlist += '<li class="list-group-item list-group-item-success">'+id+'</li>'
                });
                idlist += '</ul>'
                html = '<tr><td>'+user+'</td><td>'+idlist+'</td></tr>'
                document.getElementById("connected").innerHTML += html
              }
            break;
          }
        }
      })
      var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        myinput = $( '#usertext' )
        socket.emit( 'my event', { rawdata : myinput.val() } )
        myinput.val( '' ).focus()
      })
    </script>
  </body>
</html>
