<!doctype html>
<html lang="en">
  <head>
    <title>pyconsole</title>
    <!--bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
   	<div class="container">
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label class="sr-only" class="form-control" for="inputUsername">Username:</label>
      <input type="username" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
      <label class="sr-only" for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="done">Sign in</button>
    </form>
    </div>
  </body>
</html>
